<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logout from Salesforce </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon"  type="image/icon"  href="Cloud Red.ico" />
    <script type="text/javascript" src="lib/jquery.js"></script>
    <script defer type="text/javascript" src="lib/jqueryCookies.js"></script> 	
    <script defer type="text/javascript" src="js/OAuth.js"></script>
    <script>  
      $( document ).ready(function() {
        $.removeCookie("AccToken");
        $.removeCookie("APIVer");
        $.removeCookie("InstURL");
        $.removeCookie("idURL");
        $.removeCookie("LoggeduserId");
        console.log( "Removing Cookies" );
        window.location.replace(window.location.origin + '/index');
      });
    </script>
  </head>
  <body class="container" style="padding-top: 50px;">
    <div class="jumbotron">
      <h1>Logout from Salesforce</h1>
    </div>
    </body>
</html>